@use "partial/variables.scss";
@use "partial/basicLayouts.scss";
@use "partial/singleElements.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--clr-font);
    font-family: 'Inter';

    &[done=true] * {
        transition: background-color 200ms ease-in-out,
                    color 200ms ease-in-out,
                    fill 200ms ease-in-out;
    }
}

.hidden {
    display: none;
}

body {
    background-color: var(--clr-sidebars);
}