@use "partial/variables.scss";
@use "partial/basicLayouts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--clr-font);
    font-family: 'Inter';
}

.hidden {
    display: none;
}

body {
    background-color: var(--clr-sidebars);
}