@use "partial/variables.scss";
@use "partial/basicLayouts.scss";
@use "partial/singleElements.scss";
@use "partial/fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: light-dark(var(--lmFont), var(--dmFont));
    font-family: 'Inter';

    // &[done=true] * {
    //     transition: background-color 200ms ease-in-out,
    //     color 200ms ease-in-out,
    //     fill 200ms ease-in-out;
    // }
}

.hidden {
    display: none !important;
}

body {
    background-color: light-dark(var(--lmSidebars), var(--dmSidebars));
}