@use "partial/variables.scss";
@use "partial/basicLayouts.scss";
@use "partial/singleElements.scss";
@use "partial/fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: light-dark(var(--lmFont), var(--dmFont));
    font-family: 'Inter';
}

body {
    background-color: light-dark(var(--lmSidebars), var(--dmSidebars));
}

.hidden {
    display: none !important;
}

a {
    color: light-dark(var(--lmFont), var(--dmFont));
}