
#range-linear-motor {
    &::-moz-range-thumb {
        background-color: var(--clr-yourPath);
    }
    &::-webkit-slider-thumb {
        background-color: var(--clr-yourPath);
    }
}

#leaderboard-page {
	display: flex;
	flex-direction: column;
	gap: 42px;
}

#information-page {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

#ld-modes {

    background-color: light-dark(var(--lmButton), var(--dmButton));
    width: max-content;
    padding: 3px;
    border-radius: 6px;
    position: relative;

    & > #ld-modes-btn-cont {
        display: flex;
        gap: 3px;
        position: relative;
        z-index: 1;

        & > button {
            background-color: transparent;

            &:active {
                filter: unset;
            }
        }
    }

    & > #ld-modes-selection {
        background-color: light-dark(var(--lmBox), var(--dmBox));
        position: absolute;
        width: 32px;
        height: 32px;
        top: 3px;
        border-radius: 4px;
        z-index: 0;
        transition: left 200ms ease-in-out;

        &[mode=light] {
            left: 3px;
        }

        &[mode=dark] {
            left: 38px;
        }
    }
}

#controlling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 12px;
}

#param-header {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
}

#values {
    display: flex;
    flex-direction: row;
    gap: 12px;

    #linear-param,
    #rotation-param {
        display: flex;
        flex-direction: column; 
        gap: 8px;
        width: 100px;

        & > .parameter {
            display: flex;
            width: 100px;
            box-sizing: border-box;

            & > label {
                flex: 0 0 30%;    /* Label nimmt 30% der Breite ein */
                box-sizing: border-box;
            }
            
            & > input {
                flex: 1 1 70%;    /* Input nimmt den verbleibenden Platz ein */
                max-width: 70%;   /* Verhindert Überschreiten der Breite */
                box-sizing: border-box;
            }
        }  
    }    
}

.connection-status {
    background-color: light-dark(var(--lmBox), var(--dmBox));
    font-size: 14px;
    border-radius: 12px;
    padding-right: 12px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}

#disk-diagram {
    align-items: center;

    & > #disk-diagram-cont {
        position: relative;
        display: flex;

        & > canvas {
            position: relative;
            width: 180px;
            height: 180px;
            z-index: 1;
        }
    
        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-color: light-dark(var(--lmButton), var(--dmButton));
            border-radius: 50%;
            z-index: 0;
        }
    }
}

#sensor-data {
    & canvas {
        height: 100px;
        width: 100%;
    }
}

canvas#lin-pos-to-opt {
    height: 120px;
    width: 80%;
}

#debug {
    background-color: #f00;
    height: 32px;
    display: flex;
    align-items: center;
    color: #450303;
    width: 100%;
    position: absolute;
    padding: 0 12px;
}

#info-center > .box {
    height: 100%;
    justify-content: space-between;
}

#center-disk-values-cont {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: light-dark(var(--lmFontSecondary), var(--dmFontSecondary));
}

#points-num {
    font-size: 42px;
    font-weight: bold;
}

#lb-form {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}

#leaderboard-table {
    background-color: light-dark(var(--lmBox), var(--dmBox));
    border: none;
    border-collapse: collapse;
    border-radius: 12px;
    text-align: center;

    tr:nth-child(even) {
        background-color: light-dark(var(--lmBG), var(--dmBG));
    }

    th {
        padding: 8px;
    }

    td {
        padding: 6px;
    }

    tr:only-child {
        position: relative;

        &::after {
            content: "No runs found";
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: calc(100% + 8px);
        }
    }
}

#eval-progbar {
    height: 10px;
    background-color: light-dark(var(--lmButton), var(--dmButton));

    & > #eval-progbar-fill {
        height: 100%;
        width: 0;
        max-width: 100%;
        background-color: green;
        transition: width 200ms ease-out;
    }
}

#upload-run-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}