:root {
    // Light Mode Colors
    --lmFont: #1D201B;
    --lmSidebars: #FBFBFB;
    --lmBG: #FFFFFF;
    --lmBox: #F2F2F2;
    --lmFontSecondary: #7E7E7E;
    --lmButton: #D7D7D7;

    // Dark Mode Colors
    --dmSidebars: #1F1F1F;
    --dmFont: #F5F5F5;
    --dmBG: #323232;
    --dmFontSecondary: #EAEAEA;
    --dmBox: #424242;
    --dmButton: #5F5F5F;

    --clr-optPath: #1C8DE9;
    --clr-yourPath: #EB09F3;
}