
#range-linear-motor {
    &::-moz-range-thumb {
        background-color: var(--clr-yourPath);
    }
    &::-webkit-slider-thumb {
        background-color: var(--clr-yourPath);
    }
}

#ld-modes {

    background-color: light-dark(var(--lmButton), var(--dmButton));
    width: max-content;
    padding: 3px;
    border-radius: 6px;
    position: relative;

    & > #ld-modes-btn-cont {
        display: flex;
        gap: 3px;
        position: relative;
        z-index: 1;

        & > button {
            background-color: transparent;

            &:active {
                filter: unset;
            }
        }
    }

    & > #ld-modes-selection {
        background-color: light-dark(var(--lmBox), var(--dmBox));
        position: absolute;
        width: 32px;
        height: 32px;
        top: 3px;
        border-radius: 4px;
        z-index: 0;
        transition: left 200ms ease-in-out;

        &[mode=light] {
            left: 3px;
        }

        &[mode=dark] {
            left: 38px;
        }
    }
}

#disk-diagram {
    align-items: center;

    & > #disk-diagram-cont {
        position: relative;
        display: flex;

        & > canvas {
            position: relative;
            width: 180px;
            height: 180px;
            z-index: 1;
        }
    
        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-color: light-dark(var(--lmButton), var(--dmButton));
            border-radius: 50%;
            z-index: 0;
        }
    }
}

#sensor-data {
    & canvas {
        height: 100px;
        width: 100%;
    }
}

canvas#lin-pos-to-opt {
    height: 120px;
    width: 80%;
}

#debug {
    background-color: #f00;
    height: 32px;
    display: flex;
    align-items: center;
    color: #450303;
    width: 100%;
    position: absolute;
    padding: 0 12px;
}

#info-center > .box {
    height: 100%;
    justify-content: space-between;
}

#center-disk-values-cont {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: light-dark(var(--lmFontSecondary), var(--dmFontSecondary));
}

#points-num {
    font-size: 42px;
    font-weight: bold;
}

#filters {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}

#leaderboard {
    background-color: light-dark(var(--lmBox), var(--dmBox));
    border: none;
    border-collapse: collapse;
    border-radius: 12px;
    text-align: center;

    tr:nth-child(even) {
        background-color: light-dark(var(--lmBG), var(--dmBG));
    }

    th {
        padding: 8px;
    }

    td {
        padding: 6px;
    }
}