
#range-linear-motor {
    &::-moz-range-thumb {
        background-color: var(--clr-yourPath);
    }
    &::-webkit-slider-thumb {
        background-color: var(--clr-yourPath);
    }
}

#ld-modes {

    background-color: light-dark(var(--lmButton), var(--dmButton));
    width: max-content;
    padding: 3px;
    border-radius: 6px;
    position: relative;

    & > #ld-modes-btn-cont {
        display: flex;
        gap: 3px;
        position: relative;
        z-index: 1;

        & > button {
            background-color: transparent;

            &:active {
                filter: unset;
            }
        }
    }

    & > #ld-modes-selection {
        background-color: light-dark(var(--lmBox), var(--dmBox));
        position: absolute;
        width: 32px;
        height: 32px;
        top: 3px;
        border-radius: 4px;
        z-index: 0;
        transition: left 200ms ease-in-out;

        &[mode=light] {
            left: 3px;
        }

        &[mode=dark] {
            left: 38px;
        }
    }
}

#disk-diagram {
    align-items: center;

    & > #disk-diagram-cont {
        position: relative;
        display: flex;

        & > canvas {
            position: relative;
            width: 150px;
            height: 150px;
            z-index: 1;
        }
    
        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-color: light-dark(var(--lmButton), var(--dmButton));
            border-radius: 50%;
            z-index: 0;
        }
    }
}