:root {
    // Light Mode Colors
    --lmAlmostBlack: #1D201B;
    --lmAlmostWhite: #FBFBFB;
    --lmBG: #FFFFFF;
    --lmBrightGrey: #F2F2F2;
    --lmDarkGrey: #7E7E7E;
    --lmMidGrey: #D7D7D7;

    // Dark Mode Colors
    --dmAlmostBlack: #1F1F1F;
    --dmAlmostWhite: #F5F5F5;
    --dmBG: #323232;
    --dmBrightGrey: #EAEAEA;
    --dmDarkGrey: #424242;
    --dmMidGrey: #5F5F5F;

    // Init Light Mode
    --clr-font: var(--lmAlmostBlack);
    --clr-sidebars: var(--lmAlmostWhite);
    --clr-BG: var(--lmBG);
    --clr-box: var(--lmBrightGrey);
    --clr-button: var(--lmMidGrey);
    --clr-font-secondary: var(--lmDarkGrey);

    --clr-optPath: #1C8DE9;
    --clr-yourPath: #EB09F3;
}